.resource-wrap {
  display: flex;
  height: 100vh;
  .resource-lib {
    flex: 0 0 200px;
    height: 100vh;
    background-color: #f0f2f5;
    border-right: 1px solid #ccc;
  }
  .resource-list-box {
    flex: 1;
    border-top: 1px solid #ccc;
    overflow-y: scroll;

    .menu-box {
      margin-top: 15px;
      box-sizing: border-box;
      flex: 0 0 100px;
      border-bottom: 1px solid #ccc;
      display: flex;
      align-items: center;
      padding-left: 20px;
      .item-list {
        flex: 0 0 100px;
        display: flex;
        .item {
          flex: 1;
          div {
            padding-left: 3px;
          }
        }
      }
    }

    .resource-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      .resource-list-item {
        flex: 0 0 90px;
        height: 140px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        &.no_active{
          border: 10px solid #f0f2f5;
        }
        &.active{
          border: 10px solid #DDF0FF;
        }
        .resource-list-item-box {
          width: 90px;
          height: 90px;
          position: relative;
          img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 100%;
          }
        }
        .resource-list-item-txt {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 90px;
        }
      }
    }

    .map-box-wrap {
      position: relative;
      visibility: hidden;
      width: 800px;
      height: 800px;
      .map-box {
        overflow: hidden;
        height: 100%;
        display: block;
        box-sizing: border-box;
        position: relative; //地图的超出部分才能隐藏
      }
    }
  }
}
