.map-edit-wrap {
  position: relative;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  .menu-bar {
    flex: 0 0 36px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    .title {
      width: 200px;
      line-height: 36px;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-right: 1px solid #ccc;
      box-sizing: border-box;
    }
    .save-btn {
      width: 100px;
      line-height: 36px;
      float: left;
      border-right: 1px solid #ccc;
      cursor: pointer;
    }
    .run-btn{
      width: 100px;
      line-height: 36px;
      float: left;
      border-right: 1px solid #ccc;
      cursor: pointer;
    }
    .exit-btn{
      width: 120px;
      line-height: 36px;
      float: right;
      border-left: 1px solid #ccc;
      cursor: pointer;
      .txt{
        margin-left: 10px;
      }
    }
  }
  .content-box {
    position: relative;
    height: calc(100% - 36px);
    flex: 1;
    display: flex;
    .left-box {
      flex: 0 0 200px;
      display: flex;
      border-right: 1px solid #ccc;
      flex-direction: column;
      .resource-select {
        flex: 1;
      }
      .resource-lib {
        border-top: 1px solid #ccc;
        flex: 1;
      }
    }
    .center-box {
      flex: 1;
      display: flex;
      flex-direction: column;
      .map-box-wrap {
        flex: 1;
        position: relative;
        .spin-wrap {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        .map-box {
          .tool-bar {
            position: absolute;
            background-color: white;
            right: 0;
            top: 0;
            z-index: 100;
          }
          .play-tip-top-left{
            left: 0;
            width: 50px;
            top: 0;
            height: 50px;
            z-index: 999;
            position: absolute;
            border-left: 6px solid #31C67E;
            border-top: 6px solid #31C67E
          }
          .play-tip-top-right{
            right: 0;
            width: 50px;
            top: 0;
            height: 50px;
            z-index: 999;
            position: absolute;
            border-right: 6px solid #31C67E;
            border-top: 6px solid #31C67E
          }
          .play-tip-bottom-left{
            left: 0;
            width: 50px;
            bottom: 0;
            height: 50px;
            z-index: 999;
            position: absolute;
            border-left: 6px solid #31C67E;
            border-bottom: 6px solid #31C67E
          }
          .play-tip-bottom-right{
            right: 0;
            width: 50px;
            bottom: 0;
            height: 50px;
            z-index: 999;
            position: absolute;
            border-right: 6px solid #31C67E;
            border-bottom: 6px solid #31C67E
          }
          .play-tip-txt{
            left: 10px;
            width: 100px;
            bottom: 10px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: white;
            z-index: 999;
            position: absolute;
            background-color: #31C67E;
            border-radius: 20px;
          }
          overflow: hidden;
          height: 100%;
          display: block;
          box-sizing: border-box;
          position: relative; //地图的超出部分才能隐藏
        }
      }
      .play-box{
        flex: 0 0 30px;
        border-top: 1px solid #ccc;
        text-align: center;
        .stop-btn{
          font-size: 20px;
          display: inline-block;
          cursor: pointer;
          margin-right: 20px;
        }
        .pause-btn{
          font-size: 20px;
          display: inline-block;
          cursor: pointer;
        }
        .play-btn{
          font-size: 20px;
          display: inline-block;
          cursor: pointer;
        }
      }
      .resource-list-box {
        flex: 0 0 150px;
        border-top: 1px solid #ccc;
        padding-top: 15px;
        overflow-y: scroll;
        .resource-list {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          .resource-list-item {
            flex: 0 0 90px;
            margin-left: 15px;
            height: 110px;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
            .resource-list-item-box {
              width: 90px;
              height: 90px;
              position: relative;
              img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 100%;
              }
            }
            .resource-list-item-txt {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 90px;
            }
          }
        }
      }
    }

    .right-box {
      flex: 0 0 300px;
      background-color: white;
      border-left: 1px solid #ccc;
      overflow-y: scroll;
      .title {
        border-bottom: 1px solid #ccc;
        line-height: 48px;
        height: 48px;
        padding: 0 20px;
        .del {
          float: right;
          margin-right: 10px;
        }
      }
      .info {
        border-bottom: 1px solid #ccc;
        padding: 10px 20px;
        .txt {
          width: 80px;
          display: inline-block;
        }
        .val {
          width: 160px;
          display: inline-block;
        }
        .props {
          width: 86px;
          display: inline-block;
          box-sizing: border-box;
        }
      }
      .tip {
        border-bottom: 1px solid #ccc;
        padding: 10px 20px;
      }
      .router {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
        .router-item {
          border-bottom: 1px solid #ccc;
          padding: 10px 0;
          &:first-child {
            padding-top: 0;
          }
          &:last-child {
            padding-bottom: 0;
            border-bottom: none;
          }
          .seq {
            .del-btn {
              cursor: pointer;
            }
          }
          .txt {
            width: 80px;
            display: inline-block;
          }
          .val {
            width: 160px;
            display: inline-block;
          }
        }
      }
      .triggers {
        padding: 10px 20px;
        .swith {
          margin-left: 20px;
        }
        .list {
          margin-top: 20px;
          .item {
            margin-top: 10px;
            span {
              margin-left: 5px;
            }
            .select {
              height: 24px;
              width: 150px;
            }
          }
        }
        .add {
          margin-top: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
