@import './assets/less/index.less';
#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
}
//布局
.common-layout {
  height: 100%;
  /** antd **/
  /** 侧边栏 开关 **/
  .ant-layout-sider-trigger {
    background-color: white !important;
    .anticon {
      color: black !important;
    }
  }
  .content-waper {
    overflow-y: scroll;
  }
  .layouit-header {
    background-color: rgb(41, 59, 90);
    color: white;
    height: 44px;
    line-height: 44px;
    position: relative;
    .userName {
      position: absolute;
      top: 0;
      line-height: 44px;
      right: 140px;
    }
    .logout {
      position: absolute;
      top: 0;
      line-height: 44px;
      right: 100px;
      cursor: pointer;
    }
    .doc-link {
      position: absolute;
      top: 0;
      line-height: 44px;
      right: 60px;
      cursor: pointer;
    }
  }
  //不显示滚动条
  ::-webkit-scrollbar {
    width: 0px;
  }
}
